body{
  background-color:#ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Header */
.header-wrapper {
  background-color: #73b4ce;
  border-bottom: 5px solid #eeeeee;
  width: 100%;
  height: 60px;
}
.container-header{
  padding-top:8px;
  width: 100%;
  padding-bottom: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.header {
  width: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  padding-top: 10px;
  padding-left: 0px;
}

.container{
  width: 100%;
}

/* Selected Meme */
.meme-wrapper {
  width:100%;
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
}

.meme-heading {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
}

.meme-date {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
}

.meme-img {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden;
  width: 100%;
}

.meme-img img {
  /* height: calc(100vh);
  width: calc(100vw); */
}

.meme-date {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
}

.meme-done-button {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.btn-action{
  border-radius: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color:#f5a623;
  border-color: #f5a623;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #d18c1b;
  border-color: #d18c1b;
}

.btn-add {
  border-radius: 25px;
  position: absolute;
  right: 0px;
}

/* Meme List */
.meme-list-wrapper {
  padding-top:20px;
}

.meme-list-table {
  margin-top: 20px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  cursor: pointer;
}

.search-button:hover {
  background-color: #d18c1b;
  border-color: #d18c1b;
  color: white;
}

.meme-done-button{
  align-items: center;
  justify-content: center;
  padding-top: 25 px;
}

.footer{
  padding-top: 30px;
  color: #d18c1b;
  padding-bottom: 50px;
  margin: auto 0;
  text-align: center;
  opacity: 0.5;
}


